<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="Content-Type" content="text/html charset=UTF-8" />
  <title>R&I Software</title>
</head>

<body style="background-color: #4970b5; font-family: 'Poppins', sans-serif; padding: 210px 0px;">
  <table style="margin: 0 auto; width: 100%;">
    <tbody style="text-align: center;">
      <tr>
        <td>
          <img src="https://i.ibb.co/VY92s8P/Group-58.png" alt="Group-58" border="0">
        </td>
      </tr>
      <tr>
        <td align="center">
          <table style="width: 100%;">
            <tbody>
              <tr>
                <td align="left">
                  <h2 style="    font-style: normal;
                    font-weight: 600;
                    font-size: 24px;
                    line-height: 36px;
                    color: #ffffff;
                    margin: 0 auto;
                    padding-top: 35px; text-align: center;">
                    HI!</h2>
                </td>
              </tr>


            </tbody>
          </table>
          <table style="width: 100%;">
            <tbody>
              <tr>
                <td align="left" style="font-style: normal;
              font-weight: 600;
              font-size: 24px;
              line-height: 36px;
              color: #ffffff;
              padding: 30px 0px; text-align: center;">
                  Use the verification code below to return sign up
                </td>
              </tr>
            </tbody>
          </table>
          <table style="max-width: 456px; cursor: pointer;">
            <tbody>
              <tr>
                <td
                  style="background: #ffffff;text-align: center;
    box-shadow: 5px 4px 10px rgba(0, 0, 0, 0.1);
    border-radius: 10px;
    max-width: 456px; font-style: normal;font-weight: 600;font-size: 64px;line-height: 96px;color: #444444;padding: 32px 116px;">
                  {code}
                </td>
              </tr>
            </tbody>
          </table>
          <table style="width: 100%;">
            <tbody>
              <tr>
                <td align="left">
                  <p style="    max-width: 440px;
                    font-style: normal;
                    font-weight: 400;
                    font-size: 16px;
                    line-height: 24px;
                    text-align: center;
                    padding-top: 30px;
                    color: #ffffff;
                    margin: 0 auto;">
                    All you have to do is copy the confirmation code and paste it to your form to
                    complete the email verification process.</p>
                </td>
              </tr>
            </tbody>
          </table>
        </td>
      </tr>
    </tbody>
  </table>
</body>

</html>
