<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="Content-Type" content="text/html charset=UTF-8" />
  <title>R&I Software</title>
</head>

<body style=" background-color: #4970b5; font-family: 'Poppins', sans-serif; padding: 110px 0px;">
  <table style="margin: 0 auto; width: 100%;">
    <tbody style="text-align: center;">
      <td>
        <img src="https://i.ibb.co/VY92s8P/Group-58.png" alt="Group-58" border="0">
      </td>
      <tr>
        <td align="center">
          <table style="max-width: 591px;">
            <tbody>
              <td align="left">
                <h2 style="
                  font-style: normal;
                  font-weight: 600;
                  font-size: 32px;
                  line-height: 48px;
                  text-align: center;
                  margin: 0;
                  padding: 50px 0px 60px 0px;
                  color: #FFFFFF;">
                  How better collaboration leads to better business outcome</h2>
              </td>
            </tbody>
          </table>
          <table style="max-width: 728px; margin-bottom: 108px;">
            <tbody>
              <td style="font-style: normal;
                font-weight: 400;
                font-size: 20px;
                line-height: 30px;
                text-align: center;
                color: #FFFFFF;">
                By improving collaboration, enterprises can drive prositive change for business operation, resulting
                higher productivity and visibility into impactful work
              </td>
            </tbody>
          </table>
          <a style="font-weight: 400;
          font-size: 16px;
          line-height: 19px;
          background: #FFFFFF;
box-shadow: 5px 4px 10px rgba(0, 0, 0, 0.1);
border-radius: 10px;
text-decoration: none;
padding: 15px 65px 16px 66px;
          color: #000000;" href="{button_link}">Join now</a>
        </td>
      </tr>
    </tbody>
  </table>
</body>

</html>
